:root {
  --bg-color: #0C0C0C;
  --bg-input: rgba(12, 12, 12, 0.16);
  --bg-red-error: rgba(216, 85, 43, 0.16);
  --red: #D8552B;
  --green: #7F986D;
  --cadetblue: #65878E;
  --beige: #cec0ad;
  --beigeOpacity: #CEC0AD33;
  --camel: #A3987E;
  --camelOpacity: rgba(163, 152, 126, 0.4);
  --gray1: #191919;
  --gray2: #2D2C29;
  --scrollbarWidth: 0;
}

@font-face {
  font-family: 'Chakra Petch';
  src: local('Chakra Petch Medium'), local('ChakraPetch-Medium'),
  url('../fonts/chakra-petch/Chakrapetchmedium.woff2') format('woff2'),
  url('../fonts/chakra-petch/Chakrapetchmedium.woff') format('woff'),
  url('../fonts/chakra-petch/Chakrapetchmedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Chakra Petch';
  src: local('Chakra Petch SemiBold'), local('ChakraPetch-SemiBold'),
  url('../fonts/chakra-petch/Chakrapetchsemibold.woff2') format('woff2'),
  url('../fonts/chakra-petch/Chakrapetchsemibold.woff') format('woff'),
  url('../fonts/chakra-petch/Chakrapetchsemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Chakra Petch';
  src: local('Chakra Petch Regular'), local('ChakraPetch-Regular'),
  url('../fonts/chakra-petch/Chakrapetchregular.woff2') format('woff2'),
  url('../fonts/chakra-petch/Chakrapetchregular.woff') format('woff'),
  url('../fonts/chakra-petch/Chakrapetchregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Chakra Petch';
  src: local('Chakra Petch Light'), local('ChakraPetch-Light'),
  url('../fonts/chakra-petch/Chakrapetchlight.woff2') format('woff2'),
  url('../fonts/chakra-petch/Chakrapetchlight.woff') format('woff'),
  url('../fonts/chakra-petch/Chakrapetchlight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('../fonts/ibm-plex-mono/IBMPlexMono.eot');
  src: local('IBM Plex Mono'), local('IBMPlexMono'),
  url('../fonts/ibm-plex-mono/IBMPlexMonod41d.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ibm-plex-mono/IBMPlexMono.woff') format('woff'),
  url('../fonts/ibm-plex-mono/IBMPlexMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Chakra Petch', sans-serif;
  scroll-behavior: smooth;
  max-width: 100%;
}

body {
  background-color: var(--bg-color);
  overflow-x: hidden;
}


/*<editor-fold desc="Header">*/
#site-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  transition: transform .5s ease, opacity .5s ease;
  z-index: 2;
  padding: 30px 50px;
}

#site-header.background {
  background-color: var(--bg-color);
}

#site-header.hide {
  transform: translateY(-100%);
  opacity: 0;
}

.header__menu {
  display: flex;
}

.header__menu-link {
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
  color: var(--beige);
  text-transform: uppercase;
}

.header__menu-link:not(:last-of-type) {
  margin-right: 24px;
}

.header__menu-link:hover {
  color: var(--beige);
  opacity: 0.6;
}

.header__button-wrapper {
  display: flex;
  align-items: flex-start;
}

.header__button {
  display: flex;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  color: var(--beige);
  padding: 5px 9px;
  border: 1px solid var(--beige);
  border-radius: 12px;
  background-color: transparent;
  letter-spacing: 0.05em;
}

.header__button::after {
  content: "";
  background-image: url(../img/arrow-right-up.svg);
  width: 12px;
  height: 12px;
  margin-left: 8px;
}

.header__button:hover {
  color: var(--bg-color);
  border-color: var(--red);
  background-color: var(--red);
}

.header__button:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 13L13 1M13 1H1M13 1V13' stroke='%230C0C0C' stroke-width='2'/%3E%3C/svg%3E%0A");;
}

.header__button--mobile,
.header__button--close,
.header__mobile-menu,
.header__mobile-buttons {
  display: none;
}

@media (max-width: 1210px) {
  #site-header {
    padding-left: 16px;
    padding-right: 16px;
  }

}

@media (max-width: 766px) {
  #site-header {
    padding-left: 0;
    padding-right: 0;
  }

  .header__logo {
    grid-area: logo;
    padding-left: 16px;
  }

  .header__button-wrapper {
    grid-area: wrapper;
    padding-right: 16px;
  }

  .header__menu,
  .header__button--desktop,
  .header-mobile .header__button--mobile {
    display: none;
  }

  .header__button--mobile,
  .header-mobile .header__button--close {
    display: flex;
  }

  .header__button--close::after {
    background-image: url(../img/cross.svg);
  }

  .header-mobile .header__menu {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    position: fixed;
    background: var(--bg-color);
    width: 100vw;
    z-index: -1;
    align-items: center;
    height: 100vh;
    height: -webkit-fill-available;
  }

  .header-mobile .header__menu-link {
    padding: 20px 25px 20px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0;
    width: 100%;
    border-bottom: 1px solid var(--beigeOpacity);
  }

  .header-mobile .header__menu-link::after {
    content: "";
    background-image: url(../img/arrow-right-up.svg);
    width: 12px;
    height: 12px;
  }

  .header-mobile .header__mobile-buttons {
    display: grid;
    grid-template-columns: 148px 191px;
    grid-template-areas:
      "letter call";
    grid-column-gap: 16px;
    padding: 30px 12px;
  }
}

.header-footer__button {
  border-radius: 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.03em;
  color: var(--bg-color);
  padding-top: 24px;
  padding-bottom: 24px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-footer__button--letter {
  grid-area: letter;
  border: 1px solid var(--red);
  background-color: var(--red);
  padding-right: 32px;
}

.header-footer__button--call {
  grid-area: call;
  border: 1px solid var(--green);
  background-color: var(--green);
  padding-right: 40px;
}

.header-footer__button img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(6%) saturate(1218%) hue-rotate(83deg) brightness(110%) contrast(91%);
  width: 24px;
  height: 24px;
  position: absolute;
}

.header-footer__arrow {
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  width: 28px;
  height: 28px;
  display: flex;
  border: 2px solid transparent;
}

.header-footer__button:hover .header-footer__arrow {
  /*border-radius: 50%;*/
}

.header-footer__button:hover img {
  animation: aniArrow1 1.5s linear infinite;
}
@keyframes aniArrow1 {
  0% {
    transform: translateY(0) translateX(-0);
  }
  50% {
    transform: translateY(-30px) translateX(30px);
  }
  51% {
    transform: translateY(-30px) translateX(-30px);
  }
  52% {
    transform: translateY(30px) translateX(-30px);
  }
  100% {
    transform: translateY(0) translateX(-0);
  }
}

@media (max-width: 1210px) {
  .header-footer__button {
    margin-top: 48px;
  }
}

@media (max-width: 766px) {
  .header-footer__button {
    border-radius: 24px;
    font-size: 18px;
    line-height: 30px;
    margin-top: 40px;
  }

  .header-footer__button--letter,
  .header-footer__button--call {
    padding-right: 20px;
  }

  .header-footer__button img {
    width: 16px;
    height: 16px;
  }

  .header-footer__arrow {
    position: relative;
    overflow: hidden;
    transition: 0.6s;
    width: 20px;
    height: 20px;
    display: flex;
  }
}
/*</editor-fold>*/

/*<editor-fold desc="Footer">*/
.footer {
  display: grid;
  justify-content: space-between;
  padding: 30px 48px;
  grid-template-areas: "copyright links back";
}

.footer__copyright {
  grid-area: copyright;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--beige);
  opacity: 0.8;
}

.footer__links {
  grid-area: links;
  display: grid;
  grid-column-gap: 66px;
  grid-auto-flow: column;
}

.footer__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--beige);
}

.footer__link::after {
  content: "";
  background-image: url(../img/arrow-right-up.svg);
  position: absolute;
  width: 14px;
  height: 14px;
  margin-left: 12px;
  margin-top: 2px;
  transition: all .1s linear;
  filter: brightness(0) saturate(100%) invert(87%) sepia(30%) saturate(153%) hue-rotate(355deg) brightness(85%) contrast(92%);
}

.footer__link:hover {
  color: var(--red);
}

.footer__link:hover::after {
  transform: rotate(45deg);
  filter: brightness(0) saturate(100%) invert(38%) sepia(64%) saturate(847%) hue-rotate(334deg) brightness(97%) contrast(98%);
}

.footer__back {
  grid-area: back;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--beige);
  filter: brightness(0) saturate(100%) invert(87%) sepia(30%) saturate(153%) hue-rotate(355deg) brightness(85%) contrast(92%);
  background-color: transparent;
  display: flex;
  border: none;
}

.footer__back-arrow {
  margin-left: 12px;
}

.footer__back img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(6%) saturate(1218%) hue-rotate(83deg) brightness(110%) contrast(91%);
  width: 14px;
  height: 14px;
  position: absolute;
  transform: rotate(-90deg);
}

.footer__back-arrow {
  position: relative;
  overflow: hidden;
  transition: 0.6s;
  width: 16px;
  height: 16px;
  display: flex;
  border: 1px solid transparent;
}

.footer__back:hover img {
  animation: aniArrowFooter 1s linear infinite;
}

@keyframes aniArrowFooter {
  0% {
    transform: scale(0.8) rotate(-90deg) translateX(-25px);
  }
  100% {
    transform: scale(0.8) rotate(-90deg) translateX(25px);
  }
}

@media (max-width: 1210px) {
  .footer {
    padding: 30px 16px;
  }

  .footer__links {
    grid-column-gap: 42px;
  }

  .footer__back-word {
    display: none;
  }
}

@media (max-width: 766px) {
  .footer {
    grid-column-gap: 42px;
    grid-template-areas:
      "links back"
      "links copyright";
    align-items: end;
    grid-row-gap: 26px;
    grid-template-rows: auto 16px;
    justify-items: end;
  }

  .footer__links {
    grid-row-gap: 24px;
    grid-auto-flow: row;
  }

}
/*</editor-fold>*/

/*<editor-fold desc="Main Modal">*/
.main-modal {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 411px;
  background-color: var(--cadetblue);
  z-index: 2;
}

.main-modal--show {
  display: block;
}

.main-modal__header {
  margin: 4px 6px;
  background-color: transparent;
}

.main-modal__form, .main-modal__form-sent {
  margin: 32px 32px 76px;
  display: flex;
  flex-direction: column;
}

.main-modal__title, .main-modal__form-sent-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.03em;
  color: var(--bg-color);
}

.main-modal__block {
  margin-top: 24px;
}

.main-modal__label, .main-modal__form-sent-text {
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: var(--bg-color);
  opacity: 0.7;
}

.main-modal__input {
  margin-top: 6px;
  background-color: var(--bg-input);
  border: none;
  width: 347px;
}

.main-modal__textarea:focus-visible,
.main-modal__input:focus-visible {
  outline: 1px solid var(--bg-color);
}

.main-modal__textarea {
  background-color: var(--bg-input);
  width: 347px;
  height: 92px;
}

.main-modal__checkbox {
  display: flex;
  margin-top: 3px;
  position: relative;
}

.main-modal__checkbox input {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
}

.main-modal__checkbox span:first-of-type {
  height: 16px;
  min-width: 16px;
  overflow: hidden;
  background-color: var(--bg-input);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  top: 0;
  left: 0;
}

.main-modal__checkbox input:checked + span {
  background-image: url(../img/check.svg);
  outline: 1px solid var(--bg-color);
}

.main-modal__checkbox span:last-of-type {
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.03em;
  opacity: 0.7;
  margin-left: 8px;
}

.main-modal__button {
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--beige);
  mix-blend-mode: normal;
  border-radius: 12px;
  padding: 14px;
  width: 100%;
  background-color: var(--bg-color);
  margin-top: 24px;
}

.main-modal__button:hover {
  color: var(--bg-color);
  background-color: var(--beige);
}

.main-modal__button--disabled {
  opacity: 0.4;
  cursor: default;
}

.main-modal__button--disabled:hover {
  color: var(--beige);
  background-color: var(--bg-color);
}

.main-modal__form-sent,
.main-modal--sent .main-modal__form {
  display: none;
}

.main-modal--sent .main-modal__form-sent {
  display: flex;
  width: 347px;
}

.main-modal__form-sent-img {
  width: 242px;
  margin-top: 16px;
  margin-bottom: 42px;
}

.main-modal__form-sent-text {
  margin-top: 24px;
  margin-bottom: 16px;
}

.main-modal__error {
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--bg-color);
  opacity: 0.7;
  display: none;
}

.main-modal__block--error .main-modal__input {
  background-color: var(--bg-red-error);
  border: 1px solid var(--red);
}

.main-modal__block--error .main-modal__error {
  display: block;
}

.main-modal__checkbox--error span:first-of-type {
  background-color: var(--bg-red-error);
  outline: 1px solid var(--red);
}

.main-modal__header-img--small {
  display: none;
}

@media (max-width: 470px) {
  .main-modal {
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
  }

  .main-modal__form,
  .main-modal__form-sent {
    margin-right: 0;
    padding-right: 32px;
  }

  .main-modal__header {
    margin: 0;
  }

  .main-modal__header-img {
    display: none;
  }

  .main-modal__header-img--small {
    display: block;
    width: calc(100vw - 9px);
    margin-left: 6px;
  }

  .main-modal__input,
  .main-modal__textarea {
    width: 100%;
  }

  .main-modal__button {

  }

}

/*</editor-fold>*/